body {
  background-color: #839192;
}

h1 {
  color: white;
  font-family: 'Inconsolata', monospace;
}

h3 {
  bottom: 20%;
  color: white;
  font-family: 'Inconsolata', monospace;
  left: 30%;
  position: relative;
  text-align: center;
}

hr {
  border: 2px solid white;
  left: 0;
  position: absolute;
  width: 100px;
}

section {
  width: 80%;
  margin: 5% 10%;
}

.retrato {
  display: inline-block;
  height: 300px;
  width: 31%;
}

.retrato img {
  width: 100%;
  height: auto;
}

@supports(object-fit: cover){
  .retrato img{
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}
